@import "tailwindcss";

html {
    scroll-behavior: smooth;
}


@theme {
    --color-primary: #EC2028;
    --color-secondary: #fff1f1;
}

@layer base {
    button,
    [type="button"],
    [type="submit"],
    [type="reset"] {
        border-radius: 9999px;
    }

    img {
        border-radius: 20px;
    }
}

@layer components {
    .testimonials-swiper .swiper-slide {
        height: auto;
        display: flex;
    }

    .testimonials-swiper .swiper-slide > * {
        height: 100%;
    }

    .testimonials-swiper .swiper-wrapper {
        align-items: stretch;
    }

    .testimonials-swiper .swiper {
        height: 100%;
    }

    .testimonials-card {
        height: 520px;
        gap: 1rem;
    }
}



@layer utilities {
    .max-w-standard {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
