@import "tailwindcss";

@theme {
    --color-primary: #EC2028;
    --color-secondary: #fff1f1;
    --font-sans: var(--font-poppins);
}

body {
    font-family: var(--font-poppins);
}

@layer utilities {
    .max-w-standard {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}